* {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.4;
}

body {
    margin: 20px;
    text-align: center;
    background: linear-gradient(white, skyblue);
    height: 100vh;
    justify-content: center;
    align-items: center;
}
body h1 {
    margin-top: 60px;
}
footer{
    border-top: 1px solid black;
}
.corpo{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.9);
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 5px auto;
    width: 360px;
    align-items: center;
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 55px;
}
.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    min-width: 90px;
}
.separator {
    padding: 10px;
    color: #9296a0;
}
#milliseconds {
    font-size: 30px;
    color: #9296a0;
}
.buttons{
    display: flex;
    justify-content: center;
}
.btn{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    transition: all 0.2 ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}
#startBtn{
    background-color: #175cff;
    color: white;
}
#pauseBtn, 
#resumeBtn {
    display: none;
}
#resetBtn:hover{
    background-color: #fa7a30;
    color: white;
}